:root {
    --ebs-blue: rgb(0 175 255);
    --ebs-blue1: rgb(0 135 255);
    --black-050: hsl(0, 0%, 100%);
    --black-100: hsl(210, 8%, 98%);
    --black-150: hsl(210, 8%, 95%);
    --black-200: hsl(210, 8%, 90%);
    --black-225: hsl(210, 8%, 85%);
    --black-250: hsl(210, 8%, 80%);
    --black-300: hsl(210, 9%, 75%);
    --black-350: hsl(210, 8%, 68%);
    --black-400: hsl(210, 8%, 42%);
    --black-500: hsl(210, 8%, 25%);
    --black-600: hsl(210, 8%, 5%);
    --black-700: hsl(0, 0%, 12%);
    --black: hsl(0, 0%, 0%);
    --orange-100: hsl(23, 87%, 97%);
    --orange-200: hsl(27, 87%, 87%);
    --orange-300: hsl(27, 87%, 72%);
    --orange-400: hsl(27, 89%, 48%);
    --orange-500: hsl(27, 87%, 41%);
    --orange-600: hsl(27, 87%, 27%);
    --blue-100: hsl(210, 80%, 96%);
    --blue-200: hsl(210, 80%, 91%);
    --blue-300: hsl(210, 78%, 76%);
    --blue-400: hsl(210, 77%, 46%);
    --blue-500: hsl(210, 77%, 36%);
    --blue-600: hsl(210, 80%, 23%);
    --green-100: hsl(148, 35%, 95%);
    --green-200: hsl(148, 35%, 88%);
    --green-300: hsl(148, 35%, 69%);
    --green-400: hsl(148, 70%, 31%);
    --green-500: hsl(148, 75%, 22%);
    --green-600: hsl(148, 75%, 15%);
    --green-900: hsl(94, 90%, 32%);
    --red-100: hsl(0, 72%, 96%);
    --red-200: hsl(0, 70%, 93%);
    --red-300: hsl(0, 66%, 80%);
    --red-400: hsl(0, 60%, 49%);
    --red-500: hsl(0, 65%, 37%);
    --red-600: hsl(0, 65%, 22%);
    --yellow-100: hsl(43, 85%, 95%);
    --yellow-200: hsl(43, 85%, 88%);
    --yellow-300: hsl(43, 85%, 72%);
    --yellow-400: hsl(43, 85%, 50%);
    --yellow-500: hsl(43, 85%, 33%);
    --yellow-600: hsl(43, 85%, 18%);
    --purple-100: hsl(237, 83%, 98%);
    --purple-200: hsl(237, 78%, 93%);
    --purple-300: hsl(237, 60%, 83%);
    --purple-400: hsl(237, 55%, 57%);
    --purple-500: hsl(237, 50%, 45%);
    --purple-600: hsl(237, 50%, 32%);
    --gold-100: hsl(46, 100%, 91%);
    --gold-200: hsl(46, 100%, 74%);
    --gold-300: hsl(45, 100%, 42%);
    --gold-400: hsl(46, 92%, 26%);
    --silver-100: hsl(0, 0%, 95%);
    --silver-200: hsl(0, 0%, 84%);
    --silver-300: hsl(210, 5%, 68%);
    --silver-400: hsl(210, 2%, 40%);
    --bronze-100: hsl(28, 40%, 92%);
    --bronze-200: hsl(30, 47%, 83%);
    --bronze-300: hsl(28, 43%, 65%);
    --bronze-400: hsl(28, 43%, 39%);
    --success-dark: #008361;
    --success-light: #def4f0;  
    --custom-tbl-size: 0.9rem;
  }